@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}


body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  background-color: #F2F2F2;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

/* Header */
.page-header {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.navigation {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  margin: 0 70px;
}

.navigation-logo img {
  vertical-align: middle;
  margin-right: 28px;
}

.navigation-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navigation-item {
  list-style: none;
}

.navigation-links {
  flex-wrap: wrap;
  margin-right: auto;
}

.navigation-links .navigation-item {
  margin-right: 32px;
}

.navigation-links .navigation-item:last-child {
  margin-right: 0;
}

.navigation-user {
  flex-wrap: nowrap;
  justify-content: space-between;
}

.navigation-link {
  display: block;
  position: relative;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  text-transform: capitalize;
  text-decoration: none;
}

.search,
.heart {
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
}

.search {
  background-image: url(../image/svg/search-icon.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.heart {
  margin-left: 25px;
  background-image: url(../image/svg/heart.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.header-button {
  display: block;
  position: relative;
  margin-left: 32px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: #756157;
  padding: 8px 50px 8px 50px;
  border-radius: 4px;
}

.likes-count {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 7px;
  bottom: 11px;
  text-align: center;
  font-size: 10px;
  line-height: 19px;
  color: #FFFFFF;
  background-color: #7DB54F;
  border-radius: 50%;
}


/* Main */
.main-index {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.main-index-header {
  width: 1200px;
  height: 485px;
  background-image: url(../image/svg/zig-zag.svg),
    url(../image/pictures/sedona-index-background.jpg);
  background-position: left bottom, left top;
  background-repeat: no-repeat;
  background-color: #82B3D3;
  background-size: 100% auto, contain;
}

.header-logo {
  margin: 0 auto;
  margin-top: 51px;
}

/* Advantages */
.advantages {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.advantages-header {
  width: 651px;
  margin: 69px auto;
  margin-bottom: 21px;
}

.main-advantages {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  text-transform: uppercase;
}

.advantages-text {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
  padding: 0;
}

.advantages-list-items {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages-items {
  width: 1200px;
  height: 385px;
}

.top-article {
  display: flex;
  flex-wrap: nowrap;
  background-color: #82B3D3;
}

.bottom-article {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  background-color: #82B3D3;
}

.advantages-horizontal-items {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
}

.advantages-horizontal-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 385px;
  margin: 0;
  padding: 85px 83px;
  box-sizing: border-box;
  list-style: none;
  background: rgba(131, 179, 211, 0.12);
}

.horizontal-item-center {
  background: rgba(131, 179, 211, 0.2);
}

.item-description {
  font-size: 18px;
  margin: 0;
  margin-top: 30px;
  padding: 0;
  color: #FFFFFF;
}

.advantages-items-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 240px;
  padding: 85px 83px;
}

.item-description-title {
  display: block;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.middle-articles-title {
  color: #000000;
}

.middle-articles-description {
  color: #333333;
}


/* Invite */
.invite {
  display: flex;
  flex-direction: column;
}

.invite-items {
  width: 505px;
  margin: 64px auto;
}

.invite-text-top {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  text-transform: uppercase;
}

.invite-text {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  color: #333333;
}

.invite-horizontal-items {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
}

.invite-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 230px;
  height: 223px;
  padding: 80px 85px;
  list-style: none;
  background: rgba(131, 179, 211, 0.12);
}

.icon-home {
  background-image: url(../image/svg/advantage-icon-home.svg);
  background-position: 50% 80px;
  background-repeat: no-repeat;
}

.icon-burger {
  background: rgba(255, 255, 255);
  background-image: url(../image/svg/advantage-icon-burger.svg);
  background-position: 50% 80px;
  background-repeat: no-repeat;
}

.icon-suvenir {
  background-image: url(../image/svg/advantage-icon-suvenir.svg);
  background-position: 50% 80px;
  background-repeat: no-repeat;
}

.invite-item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
  margin-top: 102px;
  margin-bottom: 30px;
  padding: 0;
}

.invite-item-text {
  width: 230px;
  margin: 0;
  padding: 0;
  color: #333333;
}

/* Main Choice */
.main-choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.choice {
  width: 592px;
  margin: 96px 304px;
  padding: 0;
}

.choice-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  text-transform: uppercase;
}

.choice-text {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 54px;
  padding: 0;
  color: #333333;
}

.choice-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
  padding: 8px 50px;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #756157;
  border-radius: 4px;
}

/* Footer subscribe */
.index-subscribe-background {
  background-image: url(../image/pictures/subscribe-index-background.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: #82B3D3;
  background-size: cover;
}

.subscribe-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.subscribe-text {
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
}

.subscribe-box {
  line-height: 24px;
  text-align: left;
  border: none;
  border-radius: 4px 0 0 4px;
  background-color: #F2F2F2;
}

.subscribe-button {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #FFFFFF;
  text-transform: uppercase;
  border-radius: 0 4px 4px 0;
  background-color: #82B3D3;
  border: none;
}

.catalog-subscribe-text {
  color: #000000;
}

/* Footer items */

.footer-social-item {
  list-style: none;
}

.vk {
  background-image: url(../image/svg/social-vk.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.tg {
  background-image: url(../image/svg/social-telegram.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.youtube {
  background-image: url(../image/svg/social-youtube.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.footer-contacts-address-phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

/* Main catalog */
.catalog-filter-area {
  background-image: url(../image/pictures/filter-catalog-background.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: #82B3D3;
  background-size: cover;
}

.catalog-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  color: #FFFFFF;
  text-align: left;
}

.catalog-breadcrumbs-item {
  list-style: none;
}

.breadcrumbs-home-link {
  background-image: url(../image/svg/home-icon-catalog.svg),
    url(../image/svg/breadcrumbs-arrow.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: left 50%, 24px 50%;
}

.catalog-breadcrumbs-link {
  font-size: 16px;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
}

/* Filters */
.filter,
.price-selection,
.apply-reset {
  border: none;
}

.filter-legend {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #FFFFFF;
  text-align: left;
  text-transform: capitalize;
}

.filter-checkbox {
  line-height: 23px;
  color: #FFFFFF;
  text-align: left;
}

.filter-radio {
  line-height: 23px;
  color: #FFFFFF;
  text-align: left;
}

.price-selection-label {
  line-height: 24px;
  text-align: right;
}

.apply {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: #82B3D3;
  border-radius: 4px;
}

.reset {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

/* Sorting */
.sort-text {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  text-transform: uppercase;
}

.sort-text-value {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.sort-list {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #333333;
}

.sort-view-item {
  list-style: none;
}

.icon-grid {
  background-image: url(../image/svg/view-mode-icon-grid.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.icon-tile {
  background-image: url(../image/svg/view-mode-icon-tile.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.icon-list {
  background-image: url(../image/svg/view-mode-icon-list.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.current {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
}


/* Sorting cards */
.sorting-card-items {
  list-style: none;
}

.sorting-card-items a {
  text-decoration: none;
}

.card-item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
  text-align: left;
}

.lodging-type {
  color: #333333;
  text-align: left;
}

.lodging-price {
  color: #333333;
  text-align: right;
}

/* Cards buttons */
.more {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #756157;
}

.to-favorites {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #82B3D3;
  border: none;
}

.in-favorites {
  background-color: #7DB54F;
}

/* Hotel raiting */
.raiting-stars {
  display: block;
  width: 140px;
  height: 37px;
}

/* Резерв для 5-ти звездочного отеля
.five-stars {
  background-image: url(../image/svg/raiting-star-icon.svg),
                    url(../image/svg/raiting-star-icon.svg),
                    url(../image/svg/raiting-star-icon.svg),
                    url(../image/svg/raiting-star-icon.svg),
                    url(../image/svg/raiting-star-icon.svg);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: left 50%, 24px 50%, 48px 50%, 72px 50%, 96px 50%;
}
*/

.four-stars {
  background-image: url(../image/svg/raiting-star-icon.svg),
    url(../image/svg/raiting-star-icon.svg),
    url(../image/svg/raiting-star-icon.svg),
    url(../image/svg/raiting-star-icon.svg);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: left 50%, 24px 50%, 48px 50%, 72px 50%;
}

.three-stars {
  background-image: url(../image/svg/raiting-star-icon.svg),
    url(../image/svg/raiting-star-icon.svg),
    url(../image/svg/raiting-star-icon.svg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: left 50%, 24px 50%, 48px 50%;
}

.two-stars {
  background-image: url(../image/svg/raiting-star-icon.svg),
    url(../image/svg/raiting-star-icon.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: left 50%, 24px 50%;
}

.raiting-text {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
}

.raiting-value {
  font-size: 16px;
  line-height: 20px;
  color: #333333;
}

/* Pagination */
.pagination-item {
  list-style: none;
}

.pagination-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #FFFFFF;
  text-align: center;
  background-color: #82B3D3;
  border-radius: 4px;
}

.pagination-active {
  color: #000000;
  background-color: #F2F2F2;
}

.three-dots {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: none;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
